<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83358382128-2h3mlkk4igcbjkq5tllmdo0tjf3p2539.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83358382128-2h3mlkk4igcbjkq5tllmdo0tjf3p2539</string>
	<key>API_KEY</key>
	<string>AIzaSyCyUObFnRAtkqyhjdJubOejzgemwDXjr6w</string>
	<key>GCM_SENDER_ID</key>
	<string>83358382128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangbeom.DippingSauce</string>
	<key>PROJECT_ID</key>
	<string>dippingsauce-90106</string>
	<key>STORAGE_BUCKET</key>
	<string>dippingsauce-90106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83358382128:ios:3ac5e949343af94e0dd5f5</string>
	<key>DATABASE_URL</key>
	<string>https://dippingsauce-90106.firebaseio.com</string>
</dict>
</plist>